
.contact-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.contact-item{
    position: relative;
    display:flex;
    flex-direction: column;
    width:100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg");
    height:auto;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.contact-item::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)); 
    z-index: 1; 
}
.contact-details{
    text-align: center;
    color:white;
    z-index:1;
    margin-top: 50px;
    margin-bottom: 60px;;
}
.home-contact{
    display:flex;
    gap:5%;
    justify-content: center;
    align-self: center;
    
}
.contact-us{
    display:flex;
    gap:5px;
    color:orange;
    justify-content: center;
    align-content: center;
}
.About-Line{
    position: relative;
    top:-3px;
    font-weight: bolder;
    color: orange;
}
.contact-heading{
    color:orange
}
.contact-query{
    text-align: center;
}
.booking-line
{
    display:flex;
    gap:5px;
}
.booking-mail-img
{
    width:40px;
    height:30px;
    align-self:center;
}
.booking-container
{
    display:flex;
    gap:5px;
    margin-left: -10px;
}
.contact-query h4{
    color:orange;
    font-family: "Pacifico", cursive;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}
.query{
    width:100%;
    height:auto;
}
.email-boxes
{
    display:flex; 
    gap:10%;
    justify-content: center;
    align-content: center;
}
.email-box{
    align-content: center;
}
.email-box h4{
    color:orange;
    font-family: "Pacifico", cursive;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}
.map-form{
    display:flex;
    width:100%;
    height:auto;
    gap:5%;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 100px;
}

.form{
    width:30%;
}
input{
    width:100%;
    padding:15px;
    margin: 10px;
}
.name-Email{
    display: flex;
    width:106%;
}

.message{
    height:150px;
    text-align: left;
    line-height: normal; 
    position: relative

}
.message::placeholder
{
    position: absolute;
    top: 20px; 
    left: 20px; 
    transform: translateY(-50%);
    padding: 0; 
    margin: 0; 
    line-height: 1; 
    pointer-events: none;
}
.send-btn{
    width: 100%;
    margin-left: 10px;
    padding:20px;
}

@media screen and (max-width: 600px)
{
    .email-boxes{
        flex-direction: column;
        margin-left: 5%;
    }
    .email-box{
        align-self: flex-start;
        
    }
    .map-form{
        flex-direction: column;
    }
    .name-Email{
        width:100%;
        flex-direction: column;
    }
    .form{
        width:90%;
        align-self: center;

    }
    .send-btn{
        width:100%;
    }
}